@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    font-family: 'Hanken Grotesk';
    & .container{
        background-color: #FFFFFF;
        & .child{
        background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
        box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
        border-radius: 0px 0px 32px 32px;
        text-align: center;
        & .first{
        padding: 24px 140px;
        font-weight: 700;
        font-size: 18px;
        color: #CAC9FF;
        }
        & h2{
            font-weight: 700;
            font-size: 24px;
            color: #FFFFFF;
            padding: 24px 158px 0 158px;
        }
        & .performance{
            font-weight: 500;
            font-size: 16px;
            color: #CAC9FF;
            padding: 8px 58px 40px 58px;
        }
        & .circle{
        background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
        border-radius: 50%;
        & h1{
            font-weight: 800;
            font-size: 56px;
            color: #FFFFFF;
        }
        & p{
            color: #CAC9FF;
            mix-blend-mode: normal;
            opacity: 0.52;
            font-weight: 700;
            font-size: 16px;
        }
        }
        }
    & .result{
        & img{margin: 17px 0 17px 17px;}
        & .reaction{
            font-weight: 500;
            font-size: 16px;
            background-color: #FFF6F6;
            & .left{
                color: #FF5555;
                margin-right: 82px;
            }
        }
        & .memory{
            background-color: #FFFBF4;
            font-weight: 500;
            font-size: 16px;
            & .left{
                color: #FFB21E;
                margin-right: 85px;
            }
        }
        & .verbal{
            background-color: #F2FCF9;
            font-weight: 500;
            font-size: 16px;
            & .left{
                color: #00BB8F;
                margin-right: 98px;
            }
        }
        & .visual{
            background-color: #F3F4FD;
            font-weight: 500;
            font-size: 16px;
            & .left{
                color: #1125D6;
                margin-right: 101px;
            }
        }
        & .summary{
            font-weight: 700;
            font-size: 18px;
            color: #303B59;
            margin: 24px 0 24px 30px;
        }
        & .box{
            display: flex;
            margin:0px 30px 16px 30px;
            border-radius: 12px;
            & p{
            margin: 17px;
            }
            & .left{
                display: flex;
                flex-direction: row;
            }
            & .right{
                p{
                    font-weight: 700;
                    font-size: 16px;
                    color: #303B59;
                }
                strong{
                    font-weight: 700;
                    font-size: 16px;
                    color: #303B59;
                    opacity: 0.5;
                    margin-left: 8px;
                }
            }
        }
        & button{
            color: #FFFFFF;
            border-radius: 128px;
            background-color: #303B59;
            font-weight: 700;
            font-size: 18px;
            padding: 17px 120px;
            margin: 0 30px 30px 30px;
            border: none;
        }
    }
    }
}